body {
	font-family: helvetica, arial, sans-serif;
}

.centralize {
	text-align: center;
}

#generated {
	display: none;
}

code {
	word-wrap: break-word;
}

@media (prefers-color-scheme: dark) {
	body {
		background-color: #2a2a2a;
		color: #fff;
	}
}