body {
	font-family: helvetica, arial, sans-serif;
}

#title {
	text-align: center;
	margin: auto;
	margin-top: 50px;
	margin-bottom: 50px;
	font-size: 50px;
}

#warning {
	background-color: rgba(255,0,0,0.3);
	padding: 10px;
	text-align: center;
	border-radius: 10px;
	width: fit-content;
	margin: auto;
}

@media (prefers-color-scheme: dark) {
	body {
		background-color: #2a2a2a;
		color: #fff;
	}
}